/* ## Sidebars Base
--------------------------------------------- */
.sidebar {
	font-size: rem( $sidebar_fontSize );
	margin-bottom: 40px;
}

.sidebar .widget {
	background-color: $sidebar_backgroundColor;
	padding: 40px;
}