/* ## Sidebars Base
--------------------------------------------- */
.sidebar {
	@include rem( font-size, $sidebar_fontSize );
	margin-bottom: 40px;
}

.sidebar .widget {
	background-color: $sidebar_backgroundColor;
	padding: 40px;
}