/* ## Sidebars Base
--------------------------------------------- */
.sidebar {
	@include rem( font-size, $sidebar_fontSize );
	margin-bottom: 20px;
}

.sidebar .widget {
	background-color: $sidebar_backgroundColor;
	/* padding: 40px; */
}

@media only screen and (max-width: $mediumScreen) {

    .content-sidebar-sidebar .content-sidebar-wrap,
    .sidebar-content-sidebar .content-sidebar-wrap,
    .sidebar-primary,
    .sidebar-secondary,
    .sidebar-sidebar-content .content-sidebar-wrap {
        width: 100%;
    }
}