/* ## After Entry
--------------------------------------------- */

.after-entry {
	background-color: $afterEntry_backgroundColor;
	@include rem( font-size, $afterEntry_fontSize );
	margin-bottom: 40px;
	padding: 60px;
	
	@media only screen and (max-width: $smallScreen) {
		padding: 30px;
		margin-bottom: 5%;
	}
}