/* ## Blockquotes
--------------------------------------------- */

blockquote {
	margin: 40px;

	&::before {
		content: "\201C";
		display: block;
		@include rem( font-size, $blockQuote_fontSize );
		height: 0;
		left: -20px;
		position: relative;
		top: -10px;
	}
}

