/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: $html_fontSize; /* 10px browser default */
}

/* Chrome fix */
body {
	background-color: $body_backgroundColor;
	color: $body_fontColor;
	font-family: $baseFontFamily;
	@include rem( font-size, $base_fontSize );
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;

	@media only screen and (max-width: $smallScreen) {
		@include rem( font-size, $base_fontSize_smallScreen );
	}

	> div {
		@include rem( font-size, $base_fontSize );

		@media only screen and (max-width: $smallScreen) {
			@include rem( font-size, $base_fontSize_smallScreen );
		}
	}
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	transition: all 0.1s ease-in-out;
}

a {
	color: $link_color;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $link_hoverColor;
		text-decoration: none;
	}
}

p {
	margin: 0 0 28px;
	padding: 0;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid $hr_borderColor;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}