/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingsFontFamily;
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	font-size: rem( $h1_fontSize );
}

h2 {
	font-size: rem( $h2_fontSize );
}

h3 {
	font-size: rem( $h3_fontSize );
}

h4 {
	font-size: rem( $h4_fontSize );
}

h5 {
	font-size: rem( $h5_fontSize );
}

h6 {
	font-size: rem( $h6_fontSize );
}