/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item {
	&:focus {
		position: static;
	}

	> a:focus + ul.sub-menu,
	&.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}

.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
	@media only screen and (max-width: $mediumScreen) {
		border-width: 0;
		background-color: $menu_toggleBackgroundColor;
		color: $menu_toggleColor;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	
	}
}

@media only screen and (max-width: $mediumScreen) {

	.sub-menu-toggle {
		float: right;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;

		&:hover,
		&:focus {
			border-width: 0;
		}

		&:before {
			display: inline-block;
			text-rendering: auto;
			transform: translate(0, 0);
		}

		&.activated:before {
			content: "\f142";
		}
	}

	.menu-toggle {
		border-top: 1px solid $menu_toggleBorderColor;
		line-height: 20px;
		position: relative;
		margin-top: 15px;
		right: 0;
		z-index: 1000;
		width: 50%;
		text-align: right;
		
		@media only screen and (max-width: $smallerScreen) {
			width: 100%;
			text-align: center;
			margin-top: 0px;
		}

		&:before,
		&.activated:before {
			margin-right: 10px;
			text-rendering: auto;
			transform: translate(0, 0);
		}

		&:after,
		&.activated:after {
			content: "Menu";
			font-style: normal;
			position: relative;
			top: -1px;
		}

		.site-header & {
			border: 0;
		}
	}
}