/* ## Breadcrumbs
--------------------------------------------- */

.breadcrumb {
	background-color: $breadCrumb_backgroundColor;
	@include rem( font-size, $breadCrumb_fontSize );
	margin-bottom: 1px;
	padding: 12px 30px;
}