/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;

	@media only screen and (max-width: $smallScreen) {
		margin: 5% auto;
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {

	li {
		display: inline;

		@media only screen and (max-width: $smallScreen) {
			
			a {
				margin-bottom: 4px;
			}
		}
	}
	
	a {
		background-color: $archivePagination_backgroundColor;
		color: $archivePagination_color;
		cursor: pointer;
		display: inline-block;
		@include rem( font-size, $archive_fontSize );
		font-weight: 600;
		padding: 8px 12px;
		text-decoration: none;
	}
	
	a:hover,
	a:focus,
	.active a {
		background-color: $pagination_hoverBackgroundColor;
		color: $pagination_hoverColor;
	}
}