/* ## Search Form
--------------------------------------------- */
.search-form {
    overflow: hidden;

    @media only screen and (max-width: $mediumScreen) {
        float: none;
        margin: 16px auto;
    }

    .entry-content &,
    .site-header & {
        margin-bottom: 40px;
        width: 50%;
    }
}

.post-password-form,
.search-form {
    input[type="submit"] {
        margin-top: 10px;
    }
}

.genesis-nav-menu .search,
.widget_search {
    input[type="submit"] {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
