/* ## Widget Title
--------------------------------------------- */

.sidebar {
    .widget-title {
        font-size: rem( $widgetTitle_fontSize );
        margin-bottom: 20px;
        a {
            color: $widgetTitle_color;
            text-decoration: none;  
        }
    }
}