/* ## Header Base
--------------------------------------------- */
.site-header {
    background-color: $siteHeader_backgroundColor;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    > .wrap {
       /* padding: 20px 0; */
    } 

    @media only screen and (max-width: $mediumScreen) {
        .wrap {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    .search-form {
        float: right;
	    margin: 12px auto 0;
    }
}

@media only screen and (max-width: $mediumScreen) {
    .site-description,
    .site-header .title-area,
    .site-header .widget-area,
    .site-title {
        text-align: center;
    }
}