/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: $headerRight_width;

	@media screen and (max-width: $largeScreen) {
		width: 620px;
	}

	@media screen and (max-width: $mediumScreen) {
		width: 100%;
	}
}
