/* ## Site Title
--------------------------------------------- */
.site-title {
	@include rem( font-size, $siteTitle_fontSize );
	font-weight: 500;
	line-height: 1.2;
	padding-top: 10px;

	a,
	a:hover,
	a:focus {
		color: $siteTitle_linkColor;
		text-decoration: none;
	}
}

p.site-title {
	margin-bottom: 10px;
}