/* ## Site Description
--------------------------------------------- */

.site-description {
	@include rem( font-size, $siteDescription_fontSize );
	font-weight: 400;
	line-height: 1.5;

	&,
	.site-title {
		margin-bottom: 0;
	}
}