/* ## Site Title
--------------------------------------------- */
.site-title {
	@include rem( font-size, $siteTitle_fontSize );
	font-weight: 700;
	line-height: 1.2;

	a,
	a:hover,
	a:focus {
		color: $siteTitle_linkColor;
		text-decoration: none;
	}
}