/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;
	width: $titleArea_width;

	@media only screen and (max-width: $mediumScreen) {
		width: 50%;

		.site-header & {
			text-align: center;
		}
	}

	@media only screen and (max-width: $smallerScreen) {
		width: 100%;
	}
}