/* ### Content */

.content {
	float: right;
	width: $content_width;

	@media only screen and (max-width: $largerScreen) {
		width: $content_widthLargerScreen;
	}

	@media only screen and (max-width: $largeScreen) {
		width: $content_widthLargeScreen;
	}

	@media only screen and (max-width: $mediumScreen) {
		width: 100%;
	}

	.content-sidebar-sidebar &,
	.sidebar-content-sidebar &,
	.sidebar-sidebar-content & {
		width: $contentBoth_sidebarsWidth;

		@media only screen and (max-width: $largerScreen) {
			width: $contentBoth_sidebarsWidthLargerScreen;
		}

		@media only screen and (max-width: $largeScreen) {
			width: $contentBoth_sidebarsWidthLargeScreen;
		}

		@media only screen and (max-width: $mediumScreen) {
			width: 100%;
		}
	}

	.content-sidebar &,
	.content-sidebar-sidebar &,
	.sidebar-content-sidebar & {
		float: left;

	}

	.full-width-content & {
		width: 100%;
	}
}

