/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: $primarySidebar_width;

	@media only screen and (max-width: $largerScreen) {
		width: $primarySidebar_widthLargerScreen;
	}

	.sidebar-content &,
	.sidebar-sidebar-content & {
		float: left;
	}
}