/* ## Header Entry Title
--------------------------------------------- */

.entry-title {
    @include rem( font-size, $entryTitle_fontSize );
    
    a {
        color: $entryTitle_color;
        text-decoration: none;
        
        &:hover,
        &:focus {
            color: $entryHover_color;
        }
    }
}