/* ## Header Entry Meta
--------------------------------------------- */

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-header {
    .entry-meta {
        margin-bottom: 24px;
        @include rem( font-size, $headerEntry_meta );
        margin-bottom: 0;
    }
}