/* ## Footer Widgets
--------------------------------------------- */

.footer-widgets {
	background-color: $siteFooter_backgroundColor;
	font-size: rem( $footerWidget_fontSize );
	clear: both;
	padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: $footerWidgets_width;

	@media only screen and (max-width: $largeScreen) {
		width: 300px;
	}

	@media only screen and (max-width: $mediumScreen) {
		width: 100%;
	}
}

.footer-widgets-1 {
	margin-right: 70px;

	@media only screen and (max-width: $largeScreen) {
		margin-right: 30px;
	}
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;

	@media only screen and (max-width: $mediumScreen) {
		margin: 0 auto 40px;
	}
}

.footer-widgets-3 {
	float: right;
}