/* ## Site Footer
--------------------------------------------- */

.site-footer {
	background-color: $siteFooter_backgroundColor;
	border-top: 1px solid $siteFooter_borderColor;
	@include rem( font-size, $siteFooter_fontSize );
	line-height: 1;
	padding: 60px 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}