// Color Variables

$base_color: #333;

// Link 

$link_color: #c3251d;
$link_hoverColor: #333;

// Body 

$body_backgroundColor: #eee;

// Navigation 

$nav_linkColor: #333;
$nav_hoverColor: #c3251d;

$subMenu_linkBackgroundColor: #fff;
$subMenu_borderColor: #eee;
$subMenu_linkBorderColor: #eee;

$primaryNav_backgroundColor: #fff;
$primaryNav_borderColor: #eee;
$primaryNav_linkColor: $nav_linkColor;

$secondaryNav_backgroundColor: #fff;
$secondaryNav_linkColor: $nav_linkColor;

$jsNav_backgroundColor: #fff;
$jsNav_hoverColor: #000;
$jsNav_focusColor: #c3251d;

$archivePagination_color: #333;
$archivePagination_backgroundColor: #fff;
$pagination_backgroundColor: #fff;
$pagination_hoverColor: #fff;;
$pagination_hoverBackgroundColor: #c3251d;

// Header 

$siteHeader_backgroundColor: #fff;

$siteTitle_linkColor: #333;

// Footer

$siteFooter_backgroundColor: #fff;
$siteFooter_borderColor: #eee;

// Accessibility

$menu_toggleBackgroundColor: #fff;
$menu_toggleColor: #333;
$menu_toggleBorderColor: #eee;

// Entry 

$entryFooter_borderColor: #eee;
$entryHover_color: #c3251d;
$entryTitle_color: #333;
$entryBackground_color: #fff;

// Widget 

$widgetTitle_color: #333;

// Comments

$comment_backgroundColor: #fff;

// Plugins
$eNews_backgroundColor: #333;
$eNews_widgetTitle: #fff;
$eNews_borderColor: #333;
$eNews_inputBackgroundColor: #c3251d;
$eNews_inputFontColor: #fff;
$eNews_inputHoverBackgroundColor: #fff;
$eNews_inputHoverFontColor: #333;
