// Color Variables

$base_color: #333;

// Link Colors

$link_color: #c3251d;
$link_hoverColor: #333;

// Body Colors

$body_backgroundColor: #eee;

// Navigation Colors

$nav_linkColor: #333;
$nav_hoverColor: #c3251d;

$subMenu_linkBackgroundColor: #fff;
$subMenu_borderColor: #eee;
$subMenu_linkBorderColor: #eee;

$primaryNav_backgroundColor: #fff;
$primaryNav_borderColor: #eee;
$primaryNav_linkColor: $nav_linkColor;

$secondaryNav_backgroundColor: #fff;
$secondaryNav_linkColor: $nav_linkColor;

$jsNav_backgroundColor: #fff;
$jsNav_hoverColor: #000;
$jsNav_focusColor: #c3251d;

$archivePagination_color: #333;
$archivePagination_backgroundColor: #fff;
$pagination_backgroundColor: #fff;
$pagination_hoverColor: #fff;;
$pagination_hoverBackgroundColor: #c3251d;

// Header Colors

$siteHeader_backgroundColor: #fff;

$siteTitle_linkColor: #333;

// Footer Colors

$siteFooter_backgroundColor: #fff;
$siteFooter_borderColor: #eee;

// Accessibility Colors

$menu_toggleBackgroundColor: #fff;
$menu_toggleColor: #333;
$menu_toggleBorderColor: #eee;