// Typography Variables

// Navigation
$nav_fontSize: 16;
$subMenu_linkFontSize: 14;

//Archive
$archive_fontSize: 16;

// Header
$siteTitle_fontSize: 30;
$siteDescription_fontSize: 16;

// Footer
$siteFooter_fontSize: 16;
$footerWidget_fontSize: 18;

// Entry Content
$headerEntry_meta: 16;
$footerEntry_meta: 16;
$entryTitle_fontSize: 36;

// Widget Title 
$widgetTitle_fontSize: 18;